/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

/*for reply page*/
#replay {
  color: rgb(87, 0, 0);
  text-align: center;
  display: flex;
  width: 50%;
  position: absolute;
  left: 10px;
  top: 10vh;
  height: 300px;
  padding: 15px 10vw;
}

/*header style*/
header {
  background-color: black;
  line-height: 55px;
  position: fixed;
  z-index: 99;
  background-color: #000000;
  width: 100%;
  display: flex;
}

/* logo style*/
#logo {
  color: #6fc406;
  font-weight: 700;
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  float: left;
  padding-left: 10px;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: #ffffff;
  font-style: italic;
}

/*navigation link*/
nav {
  width: 100%;
  text-align: center;
  font-size: 110%;
}

/*hide the navbar*/
#navbar {
  display: none;
}

nav li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: yellow;
}

/*who we are*/
#introduction {
  width: 100%;
  background-color: rgb(87, 0, 0);
  font-size: large;
  color: #ffffff;
  line-height: 8vh;
  padding: 0px 10px;
  letter-spacing: 2px;
  word-spacing: 3px;
}

/*the main image*/

#main-head {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#main-img {
  width: 100%;
  height: 550px;
  background: url(../images/main.jpg) no-repeat center center/cover;
  display: block;
  object-fit: contain;
  background-attachment: fixed;
  position: relative;
}

/*the text inside the main photo*/
h2 span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: #ffffff;
  font-style: italic;
}

/*what the page content*/

main {
  width: 100%;
  top: 412px;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
  font-weight: 500;
  color: brown;
}

h3 {
  color: #ffffff;
  font-size: large;
}

/*the main page style*/

#opining {
  background-color: rgb(87, 0, 0);
  width: 100%;
  height: 250px;
  line-height: 75px;
  position: relative;
}

#Opining-time {
  position: absolute;
  top: 0px;
  left: 10px;
  text-align: left;
}

#opining li {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-family: sans-serif;
  letter-spacing: 2px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px rgb(187, 0, 0);
}

/*out pets*/
#pet {
  background-color: rgb(87, 0, 0);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 15px;
}

.img-container {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.img-container img {
  width: 100%;
  display: block;
  object-fit: contain;
  height: 8vh;
}

/*hover images*/
img:hover {
  border-radius: 100px;
  box-shadow: 0 12px 16px 0 yellow, 0 17px 50px 0 yellow;
}

#pet div {
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
}

#pet img {
  width: 300px;
  height: 25vh;
}

/*our plants*/
#plants {
  background-color: rgb(87, 0, 0);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 15px;
}

#plants div {
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
}

#plants img {
  width: 300px;
  height: 300px;
  margin: 5px;
}

/*coffee*/
#coffee {
  background: url(../images/coffee-beans-1291656_1280.jpg) no-repeat center center;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;

}

#coffee ul{
  background-color: rgba(84, 5, 5, 0.7);
  padding: 10px;
}

#coffee li {
  color: rgb(238, 255, 0);
  list-style-type: none;
  font-weight: 900;
  font-size: larger;
  line-height: 2.5;
}

#our-coffee {
  background-color: rgba(84, 5, 5, 0.9);
}


/*submission section*/
#sign-up {
  margin: 10px 40px;
  border: 1px solid black;
  height: 100vh;
  background: url(../images/vintage-door-4063638_640.jpg) no-repeat center center/cover;
  max-width: 100%;
  display: flex;
  display: blok;
  object-fit: contain;
}

#news {
  margin: 20px;
}

form {
  float: left;
  width: 30%;
  padding: 30px 10px;
  display: block
}

#sign-up label {
  font-size: large;
  font-family: fantasy;
  letter-spacing: 3px;
  display: flex;
  color: #ffffff;
}

#sign-up input {
  border: 2px solid black;
  font-weight: 200;
  line-height: 25px;
  font-size: large;
  padding: 2px 10px;
}

#sign-up input:focus {
  border: 5px double;
}

#sign-up-news {
  float: right;
  padding: 5px;
  width: 35%;
  height: 300px;
  border-radius: 100px;
}

#submit:hover,
#reset:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 01), 0 17px 50px 0 rgba(0, 0, 0, 1);
}

/*styling the footer*/
footer {
  background-color: rgb(0, 0, 0);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 160%;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium';
}

.foot {
  color: #ffffff;
  padding-left: 20px;
}

.foot:hover {
  box-shadow: 0 12px 16px 0 yellow, 0 17px 50px 0 yellow;
}

/*media queries to medium screen size from 900px wide and down*/

@media screen and (max-width:900px) {
  #opining li {
    font-size: x-large;
    letter-spacing: 1px;
    justify-content: flex-end;
    padding-right: 15px;
  }

}

/*media queries to medium screen size from 800px wide and down*/

@media screen and (max-width:800px) {
  #main-img {
    display: block;
  }

}

/*media queries to medium screen size from 699px wide and down*/

@media screen and (max-width:699px) {
  #opining li {
    font-size: large;
    letter-spacing: 1px;
    justify-content: flex-end;
    padding-right: 15px;
  }

  #sign-up input {
        font-size: small; 
        padding: 2px auto;
  }
}

/*media queries to medium screen size from 600px wide and down*/
@media screen and (max-width:600px) {
  header {
    line-height: 5vh;
    padding: 0 1rem;
    justify-content: space-between;
  }

  /*navbar styling*/
  #navbar:checked~nav {
    display: block;
  }

  #navbar {
    display: none;
  }

  .nav-bar {
    color: #ffffff;
    font-size: medium;
  }

  #logo {
    font-size: medium;
    width: 50%;
  }

  #logo span {
    font-size: x-small;
  }

  nav li {
    margin-bottom: 1rem;
  }

  nav {
    font-size: 110%;
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: row-reverse;
    width: max-content;
    padding: 2px;

  }

  #main-img {
    height: 500px;
    display: block;
    top: 5vh;
    line-height: 5vh;
  }

  #opining {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5vh;
  }

  h3 {
    color: #ffffff;
    font-size: medium;
  }

  #our-pets {
    position: relative;
  }

  #pet {
    display: flex;
    text-align: center;

  }

  #plants {
    display: flex;
    text-align: center;
  }

  #coffee {
    display: block;
    text-align: center;
    line-height: 5vh;
  }

  #sign-up input {
    font-size: small; 
    padding: 2px 4px;
  }

}

/*media queries to medium screen size from 360px wide and down*/
@media only screen and (max-width:499px) {

  #submit, #reset{
    width:100%
  }

}

/*media queries to medium screen size from 360px wide and down*/
@media only screen and (max-width:400px) {

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  #pet img {
    width: 100%;
    overflow-x: hidden;
  }

  #plants img {
    width: 100%;
    overflow-x: hidden;
  }

  #sign-up input {

    font-weight: 200;
    font-size: medium;
    padding: 2px 0px;
  }

  footer{
    padding: 10px;
  }
}